.blog-container {
  max-width: 600px;
  margin: 40px auto 80px;
}

.date {
  display: block;
  margin-top: -10px;
}

.blog-content hr {
  border-color: white;
}

.blog-content p {
  font-size: 18px;
  line-height: 30px;
}

.blog-content ol li {
  margin-bottom: 8px;
}

.blog-content blockquote {
  background-color: #f1f3f5;
  padding-left: 24px;
  padding-top: 8px;
  padding-bottom: 8px;
  margin: 20px 0;
  font-size: 0.8em;
}

.blog-content blockquote p {
  margin: 0;
  font-size: 16px;
  line-height: 26px;
}

.join-newsletter {
  background-color: #f1f3f5;
  padding: 20px 24px;
  margin-top: 40px;
  font-style: italic;
}
.join-newsletter a {
  font-style: normal;
}
