.container {
  max-width: 600px;
  margin: 40px auto 40px;
}

.container iframe {
  width: 100%;
}

.title {
  margin-bottom: 10px;
}

.label {
  display: inline-block;
  padding: 2px 10px;
  border-radius: 1000px;
  margin-bottom: 10px;
}

.issueLink  {
  margin-top: 40px;
}

.assignee {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
}

.assigneeName, .assigneeName:visited, .assigneeName:hover {
  font-size: 20px;
  color: unset;
}

.content {
  margin-top: 40px;
}

.content img {
  width: 100%;
}