.first-what-section {
  padding: 64px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* width: ; */
  margin: 0 auto;
}

.second-what-section {
  padding: 64px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  /* width: 960px; */
  margin: 0 auto;
}

@media (min-width: 1000px) {
  .second-what-section {
    justify-content: center;
  }
  .phone-shell {
    margin-right: 72px;
  }
}

.what-text {
  width: 30em;
  max-width: 98vw;
}

.what-text h1 {
  font-size: 40px;
  margin-top: 40px;
  font-weight: 500;
  color: #4847ec;
}

.what-text p {
  font-size: 18px;
  line-height: 30px;
}

.laptop-shell {
  margin-top: 24px;
  width: 640px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  box-shadow: inset 0 7px 7px #fff, inset 0 -8px 15px #ccccd870,
    0px 15px 50px 0px #ccccd8;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
}

.laptop-shell img {
  width: calc(100% - 16px);
  border-radius: 4px;
  margin-top: 8px;
  margin-bottom: 4px;
}

.laptop-footer {
  width: 720px;
  height: 24px;
  box-shadow: inset 0 -8px 15px #ccccd870, 0px 15px 50px 0px #ccccd8;
  background-color: #fff;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}

@media (max-width: 959px) {
  .laptop-shell {
    width: 320px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    box-shadow: inset 0 4px 4px #fff, inset 0 -4px 8px #ccccd870,
      0px 8px 25px 0px #ccccd8;
  }

  .laptop-shell img {
    width: calc(100% - 8px);
    border-radius: 3px;
    margin-top: 4px;
    margin-bottom: 2px;
  }

  .laptop-footer {
    width: 360px;
    max-width: 99vw;
    height: 12px;
    box-shadow: inset 0 -4px 8px #ccccd870, 0px 8px 25px 0px #ccccd8;
    background-color: #fff;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }
}

.phone-shell {
  width: 255px;
  height: 528px;
  box-shadow: inset 0 7px 7px #fff, inset 0 -8px 15px #ccccd870,
    0px 15px 50px 0px #ccccd8;
  border-radius: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
}

.phone-shell .phone-header {
  background-color: #f0f0f4;
  width: 80px;
  height: 5px;
  border-radius: 6px;
  margin-top: 12px;
  margin-bottom: 8px;
}

.phone-shell img {
  width: calc(100% - 16px);
  border-radius: 3px;
}

.phone-shell .phone-footer {
  border: 1px solid #f0f0f4;
  box-shadow: inset 0 0 1px #e0e0e7, 0 0 1px #dedee6;
  width: 50px;
  height: 22px;
  border-radius: 6px;
  margin-bottom: 14px;
}

@media (max-width: 959px) {
  .what-text {
    padding: 0 15px;
  }

  .what-text h1 {
    text-align: center;
  }

  .what-section {
    width: 100vw;
  }
}
