#h-comet-l {
  animation: comet-l 20s 7s linear infinite;
}

#h-comet-r {
  animation: comet-r 15s 0s linear infinite;
}

#h-wave6 {
  animation: wave 5s 0s linear infinite;
}

#h-wave5 {
  animation: wave 4.7s 1s linear infinite;
}

#h-wave4 {
  animation: wave 6.23s 0.6s linear infinite;
}

#h-wave3 {
  animation: wave 4.13s 0.17s linear infinite;
}

#h-wave2 {
  animation: wave 4.83s 0.75s linear infinite;
}

#h-wave1 {
  animation: wave 5.11s 0.41s linear infinite;
}

#h-tree-aura-i {
  animation: aura 5s 0.3s linear infinite;
}

#h-tree-aura-o {
  animation: aura 5s 0.6s linear infinite;
}

#h-boat-aura-i {
  animation: aura 5s 1s linear infinite;
}

#h-boat-aura-o {
  animation: aura 5s 1.3s linear infinite;
}

#h-mountain-aura-i {
  animation: aura 5s 1.7s linear infinite;
}

#h-mountain-aura-o {
  animation: aura 5s 2s linear infinite;
}

@keyframes comet-l {
  0% {
    opacity: 0;
  }

  90% {
    transform: translate(-50px, -50px);
    opacity: 0;
  }

  95% {
    opacity: 1;
  }

  100% {
    transform: translate(320px, 300px);
    opacity: 0;
  }
}

@keyframes comet-r {
  0% {
    opacity: 0;
  }

  80% {
    transform: translate(200px, -200px);
    opacity: 0;
  }

  90% {
    opacity: 1;
  }

  100% {
    transform: translate(-60px, 50px);
    opacity: 0;
  }
}

@keyframes wave {
  0% {
    opacity: 0;
  }

  20% {
    opacity: 0.45;
  }

  100% {
    opacity: 0;
  }
}

@keyframes aura {
  0% {
    opacity: 0;
  }

  5% {
    opacity: 0.6;
  }

  38% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}
