a.btn {
  text-decoration: none;
  color: #fff !important;
  background: #12b886;
  padding: 0 25px;
  margin-top: 20px;
  display: inline-block;
  border-radius: 4px;
  text-align: center;
  font-size: 25px;
  line-height: 50px;
  font-weight: bold;
}

a.btn:hover {
  background: #20c997;
}

.opencollective {
  margin-top: 40px;
  display: flex;
  flex-direction: row;
}

.oc-text {
  flex: 1;
}
.oc-backers {
  flex: 1;
}

.misc-sponsor {
  display: inline-block;
  text-align: center;
  width: 192px;
  height: 64px;
}

@media (max-width: 959px) {
  .opencollective {
    flex-direction: column;
  }
}

.charts {
  margin-top: 100px;
  margin-bottom: 80px;
}
.charts h1 {
  margin-top: 80px;
}
