.authors {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.author-card {
  flex: 1;
  /* max-width: 32%; */
  min-width: 240px;
  max-width: 32%;
  min-height: 440px;
  box-shadow: #1516252a 0px 2px 20px -1px;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  margin: 0 10px 60px;
  justify-content: flex-start;
}

.author-content {
  padding: 10px;
}

.author-content h1, .author-content h2, .author-content h3, .author-content p {
  margin: 5px 0;
}

.author-content a {
  text-decoration: none;
  font-weight: normal;
}

.author-img {
  height: 200px;
}

.volunteered {
  font-weight: 500;
}

.worked {
  font-weight: 500;
  color: #12b886;
}
