.footer {
  background-color: #495057;
  color: #adb5bd;
  padding: 60px 30px;
}

.footer > * {
  max-width: 800px;
  margin: 0 auto;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.footer ul {
  margin: 0;
  list-style: none;
  padding: 0;
  margin: 18px 0;
}

.footer ul li {
  margin: 0;
  padding: 0;
}

.footer ul h1 {
  color: #dee2e6;
  font-size: 28px;
  margin: 18px 0;
}

.footer li a,
.footer li a:hover,
.footer li a:visited {
  color: #ced4da;
  margin: 5px 0;
  display: inline-block;
  font-size: 18px;
}

.footer > p a,
.footer > p a:hover,
.footer > p a:visited {
  color: #ced4da;
}

@media (max-width: 959px) {
  .footer {
    padding: 60px 15px;
  }

  .footer ul {
    min-width: 90vw;
  }
}
