.header {
  border-bottom: 1px solid #e8e8e8;
  margin-bottom: 1.45rem;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 0 auto;
  max-width: 960px;
  padding: 0;
}

.item {
  display: inline-block;
  padding: 18px;
  margin: 0;
  color: #4748ec;
  text-decoration: none;
}

.item:first-child {
  margin-right: auto;
  margin-left: -18px;
}

.item:last-child {
  margin-right: -18px;
}

.item:hover {
  box-shadow: inset 0 -0.666px 0 0 #4748ec, 0 1.333px 0 0 #4748ec;
}

@media (max-width: 959px) {
  .item:first-child {
    margin-right: auto;
    margin-left: 0;
  }

  .item:last-child {
    margin-right: 0;
  }
}
