.download {
  min-height: 700px;
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding-top: 50px;
  flex-wrap: wrap;
}

.download > *:last-child {
  flex: 1;
  margin-left: 50px;
}

.download > *:last-child h1 {
  font-size: 40px;
  margin-top: 0;
  font-weight: 100;
}

.download > *:last-child p,
.download > *:last-child ul {
  font-size: 18px;
}
.app-logo {
  width: 100px;
  height: 100px;
  box-shadow: #30236e66 0 0 30px 0;
  border-radius: 14px;
  margin-bottom: 30px;
}

.apk {
  color: #fff;
  font-size: 1.2rem;
  text-decoration: none;
  font-weight: bold;
  letter-spacing: 0.2px;
  background-color: #000;
  border: 1px solid #a1a1b3;
  height: 49px;
  width: 177px;
  margin: 12px 0;
  text-align: center;
  line-height: 48px;
  border-radius: 8px;
}
.apk:hover {
  color: #fff;
}

@media (max-width: 959px) {
  .download > * {
    margin: 0 0 120px;
    min-width: 250px;
  }

  .download > *:first-child {
    align-items: center;
    margin-right: 0;
  }

  .download > *:last-child {
    padding: 0 15px;
    margin-left: 0;
  }

  .download > *:last-child h1 {
    text-align: center;
  }
}
