.cta {
  position: relative;
  z-index: 3;
  display: flex;
  margin-top: -15px;
  margin-bottom: 64px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background: linear-gradient(
    0deg,
    transparent 0%,
    transparent 19%,
    #4748ec 20%,
    #4748ec 83%,
    transparent 100%
  );
}

@media (max-width: 959px) {
  .cta {
    margin-bottom: 0;
  }
}

.ctaBackground {
  background-color: #4847ec;
  transform: skewy(-3deg);
  z-index: -2;
  position: absolute;
  top: -24px;
  left: 0;
  bottom: -24px;
  right: 0;
}

@media (min-width: 1400px) {
  .ctaBackground {
    transform: skewy(-1.2deg);
  }
}


.button {
  color: #fff;
  font-size: 1.2rem;
  text-decoration: none;
  font-weight: bold;
  letter-spacing: 0.2px;
  background-color: #12b886;
  /* background-color: #000; */
  height: 52px;
  line-height: 51px;
  width: 146px;
  padding: 0 16px;
  border-radius: 200px;
  margin-top: 14px;
  text-align: center;
  transition-delay: 0;
  transition-timing-function: ease-in-out;
  transition-property: transform,box-shadow;
  transition-duration: 0.1s;
}
.button:visited {
  color: #fff;
}
.button:hover {
  color: #fff;
  box-shadow: #1516254f 0px 2px 10px -1px;
  transform: translateY(-1px);
}

.label {
  color: #fff;
  margin: 20px 0;
}