.container {
  max-width: 600px;
  margin: 40px auto 80px;
}

.container h4 {
  font-weight: normal;
}

.postLink {
  margin-bottom: 0;
  margin-top: 10px;
}

.postLink a {
  text-decoration: none;
}
.postLink a:hover {
  text-decoration: underline;
}
